In [1]:
import pandas as pd
import numpy as np
import json
import ast

### Sales Data Formatting

In [2]:
df = pd.read_csv("athome_data_progress_final.csv")

In [3]:
df = df.drop(columns = ["Unnamed: 0"])

In [4]:
new_info = []
for i in df['detail']:
    if i == "{}":
        new_info.append({})
    else:
        new_info.append(ast.literal_eval(i))

In [9]:
df['detail'] = new_info

In [12]:
df['detail'].apply(pd.Series, dtype = 'str')

,Sale price,Availability,Livable surface,Lift,Number of bedrooms,Living room,Fitted kitchen,Separate kitchen,Shower rooms,Terrace,...,Social housing,Total floors,Bathtub,Shower,Indoor parking space(s),Renovation year,Life annuity sale,Assisted living facilities,Rent,Security deposit
0,"888,535 €",01/12/2024,102.39 m²,Yes,2,Yes,Yes,Yes,2,20 m²,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"179,384 €",01/12/2024,16.04 m²,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"893,736 €",01/12/2024,99.2 m²,Yes,2,Yes,Yes,Yes,2,20 m²,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"581,196 €",01/12/2024,58.53 m²,NaN,1,Yes,Yes,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"756,911 €",01/12/2024,81.8 m²,NaN,2,Yes,Yes,Yes,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12319,"1,041,050 €",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12320,"479,000 €",To be agreed,61 m²,NaN,1,Yes,Yes,NaN,NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12321,"835,000 €",Libre,121 m²,NaN,3,Yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12322,"1,178,000 €",Décembre 2022,118 m²,Yes,3,NaN,Yes,NaN,NaN,32 m²,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12323,"325,000 €",To be agreed,30 m²,NaN,NaN,NaN,Yes,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)

/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)

/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)
/var/folders/c8/4mvtm2vs4_vdgzz_n030prfm0000gn/T/ipykernel_5074/3224294775.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = pd.concat([df, df['detail'].apply(pd.Series)], axis=1)

In [25]:
df = df.drop(columns = ['detail', 'Sale price'])

In [26]:
df

,property,price,location,link,agency,Availability,Livable surface,Lift,Number of bedrooms,Living room,...,Social housing,Total floors,Bathtub,Shower,Indoor parking space(s),Renovation year,Life annuity sale,Assisted living facilities,Rent,Security deposit
0,Apartment 2 bedrooms in Oberkorn Ref 7688327,"888,535 €",Oberkorn,https://www.athome.lu/en/buy/apartment/oberkor...,AFIL IMMO S.A.,01/12/2024,102.39 m²,Yes,2,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Retail in Oberkorn Ref 7688330,"179,384 €",Oberkorn,https://www.athome.lu/en/buy/commercial-proper...,AFIL IMMO S.A.,01/12/2024,16.04 m²,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Apartment 2 bedrooms in Oberkorn Ref 7688329,"893,736 €",Oberkorn,https://www.athome.lu/en/buy/apartment/oberkor...,AFIL IMMO S.A.,01/12/2024,99.2 m²,Yes,2,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Apartment 1 bedroom in Oberkorn Ref 7688332,"581,196 €",Oberkorn,https://www.athome.lu/en/buy/apartment/oberkor...,AFIL IMMO S.A.,01/12/2024,58.53 m²,NaN,1,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Apartment 2 bedrooms in Oberkorn Ref 7688331,"756,911 €",Oberkorn,https://www.athome.lu/en/buy/apartment/oberkor...,AFIL IMMO S.A.,01/12/2024,81.8 m²,NaN,2,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12319,Building land in Olm Ref 7653087,"1,041,050 €",Olm,https://www.athome.lu/en/buy/ground/olm/id-765...,BNB & SM Partners S.A R.L.,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12320,Ground floor 1 bedroom in Hettermillen Ref 765...,"479,000 €",Hettermillen,https://www.athome.lu/en/buy/apartment/hetterm...,Immo Zeimes,To be agreed,61 m²,NaN,1,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12321,Duplex 3 bedrooms in Grosbous Ref 7653025,"835,000 €",Grosbous,https://www.athome.lu/en/buy/apartment/grosbou...,MO Promotion SARL,Libre,121 m²,NaN,3,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12322,Apartment 3 bedrooms in Luxembourg-Cessange Re...,"1,178,000 €",Luxembourg-Cessange,https://www.athome.lu/en/buy/apartment/luxembo...,WE live,Décembre 2022,118 m²,Yes,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12323,Flat in Esch-sur-Alzette Ref 7652667,"325,000 €",Esch-sur-Alzette,https://www.athome.lu/en/buy/apartment/esch-su...,Active Invest Sàrl,To be agreed,30 m²,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df['type'] = df['property'].str.split(' ').str[:1].apply(lambda a: a[0])

In [29]:
df.to_csv('test_athome_data_all.csv', encoding = 'utf-8-sig')

In [50]:
df.columns

Index(['property', 'price', 'location', 'link', 'agency', 'Availability',
       'Livable surface', 'Land', 'Number of bedrooms', 'Terrace',
       'Open parking space', 'Energy class', 'Thermal insulation class',
       'Year of construction', 'Living room', 'Bathroom', 'Shower room',
       'Restroom', 'Balcony', 'Garden', 'Closed parking space', 'Basement',
       'Laundry', 'Gas heating', 'Bathooms', 'Property's floor', 'Lift',
       'Number of rooms', 'Fitted kitchen', 'Separate kitchen', 'Shower rooms',
       'Solar panels', 'Pump heating', '', 'Open kitchen',
       'Acces for mobility-impared people', 'Monthly charges', 'Pets accepted',
       'Fuel heating', 'Fireplace', 'Type of mandate', 'Attic', 'Parquet',
       'Wine cellar', 'Renovated', 'Convertible attic', 'Converted attic',
       'type'],
      dtype='object')

In [20]:
result = pd.DataFrame(
            {"Property": df['property'],
             "Prop_Type": df['type'],
             "Price": df['price'],
             "Location": df['location'],
             "Availability": df['Availability'],
             "Livable_Surface": df['Livable surface'],
             "Lift": df['Lift'],
             "Livingroom": df['Living room'],
             "Laundry": df['Laundry'],
             
             "Fitted_Kitchen": df['Fitted kitchen'],
             "Open_Kitchen": df['Open kitchen'],
             "Separate_Kitchen": df['Separate kitchen'],
             
             "Shower_rooms": df['Shower rooms'],
             "Bathrooms": df['Bathooms'],
             "Shower_room": df['Shower room'],
             "Restroom": df['Restroom'],
             "Bathroom": df['Bathroom'],
             
             "Floor": df["Property's floor"],
             
             "Terrace": df['Terrace'],
             "Balcony": df['Balcony'],
             "Garden": df['Garden'],
             "Basement": df['Basement'],
             "Land": df['Land'],
             "Open_Parking": df['Open parking space'],
             "Closed_Parking": df['Closed parking space'],            
             
             "Gas_Heating": df['Gas heating'],
             "Energy_Class": df['Energy class'],
             "Thermal_Class": df['Thermal insulation class'],           
             "Pump_Heating": df['Pump heating'],
                         
             "Construction_Year": df['Year of construction'],
             "Num_Bedrooms": df['Number of bedrooms'],            
             "Num_Rooms": df['Number of rooms'],
                         
             "Agency": df['agency'],
             "Link": df['link']})

In [23]:
result.to_csv('test_final_data.csv',encoding = 'utf-8-sig')

### Change File Name Before Running

In [24]:
date = "10_25"

sales_file_name = date + "_2022/sales_unit_" + date + "_2022.csv"
sales_file_name_csv = "sales_unit_" + date + "_2022_final.csv"
sales_file_name_xlsx = "sales_unit_" + date + "_2022_final.xlsx"

rentals_file_name = date + "_2022/rentals_unit_" + date + "_2022.csv"
rentals_file_name_csv = "rentals_unit_" + date + "_2022_final.csv"
rentals_file_name_xlsx = "rentals_unit_" + date + "_2022_final.xlsx"

In [25]:
df = pd.read_csv(sales_file_name)

In [26]:
df = df.drop(columns = ["Unnamed: 0"])

In [27]:
res = df['unit_info']

In [28]:
new_info = []
for i in df['unit_info']:
    if i == "{}":
        new_info.append({})
    else:
        new_info.append(ast.literal_eval(i))

In [29]:
df['new_info'] = new_info

In [30]:
df['new_info'].apply(pd.Series)

     chambres/pièces superficie bains/douches étage bain/douche chambre/pièce
0                  4   285\n m²           NaN   NaN         NaN           NaN
1                  4   137\n m²             2     1         NaN           NaN
2                  4   170\n m²             3     1         NaN           NaN
3                  3   100\n m²           NaN   NaN           1           NaN
4                  2    99\n m²           NaN     T           1           NaN
...              ...        ...           ...   ...         ...           ...
2896               2   133\n m²           NaN     4         NaN           NaN
2897             NaN        NaN           NaN   NaN         NaN           NaN
2898               2        NaN             2     3         NaN           NaN
2899               4   225\n m²             2   NaN         NaN           NaN
2900               2    70\n m²           NaN     2           1           NaN

[2901 rows x 6 columns]

In [17]:
df = df.drop(columns = ['detail'])

In [26]:
df

,property,price,location,link,agency,Sale price,Availability,Livable surface,Closed parking space,Energy class,...,Separate kitchen,Shower rooms,Basement,Lift,Shower room,Terrace,Garden,Laundry,Bathroom,Restroom
0,Retail in Oberkorn Ref 7688330,"179,384 €",Oberkorn,https://www.athome.lu/en/buy/commercial-proper...,AFIL IMMO S.A.,"179,384 €",01/12/2024,16.04 m²,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Apartment 2 bedrooms in Oberkorn Ref 7688331,"756,911 €",Oberkorn,https://www.athome.lu/en/buy/apartment/oberkor...,AFIL IMMO S.A.,"756,911 €",01/12/2024,81.8 m²,2,A,...,Yes,2,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Flat in Oberkorn Ref 7688333,"469,354 €",Oberkorn,https://www.athome.lu/en/buy/apartment/oberkor...,AFIL IMMO S.A.,"469,354 €",01/12/2024,34.64 m²,1,A,...,Yes,NaN,Yes,Yes,1,4.91 m²,27 m²,Yes,NaN,NaN
3,Apartment 2 bedrooms in Oberkorn Ref 7688335,"919,443 €",Oberkorn,https://www.athome.lu/en/buy/apartment/oberkor...,AFIL IMMO S.A.,"919,443 €",01/12/2024,97.5 m²,2,A,...,Yes,2,Yes,Yes,NaN,27.15 m²,32 m²,Yes,NaN,NaN
4,Apartment 2 bedrooms in Oberkorn Ref 7688341,"824,831 €",Oberkorn,https://www.athome.lu/en/buy/apartment/oberkor...,AFIL IMMO S.A.,"824,831 €",01/12/2024,97.5 m²,2,A,...,Yes,2,Yes,Yes,NaN,NaN,24 m²,Yes,NaN,NaN
5,Apartment 2 bedrooms in Oberkorn Ref 7688342,"725,965 €",Oberkorn,https://www.athome.lu/en/buy/apartment/oberkor...,AFIL IMMO S.A.,"725,965 €",01/12/2024,79.26 m²,2,A,...,Yes,2,Yes,Yes,NaN,NaN,24 m²,Yes,NaN,NaN
6,Apartment 1 bedroom in Oberkorn Ref 7688347,"624,725 €",Oberkorn,https://www.athome.lu/en/buy/apartment/oberkor...,AFIL IMMO S.A.,"624,725 €",01/12/2024,66.69 m²,2,A,...,Yes,NaN,Yes,NaN,1,NaN,NaN,NaN,1,NaN
7,Penthouse 4 bedrooms in Oberkorn Ref 7688344,"1,220,188 €",Oberkorn,https://www.athome.lu/en/buy/apartment/oberkor...,AFIL IMMO S.A.,"1,220,188 €",01/12/2024,154.87 m²,2,A,...,Yes,2,NaN,Yes,NaN,45.35 m²,NaN,Yes,NaN,1
8,Apartment 2 bedrooms in Oberkorn Ref 7688348,"733,742 €",Oberkorn,https://www.athome.lu/en/buy/apartment/oberkor...,AFIL IMMO S.A.,"733,742 €",01/12/2024,79.71 m²,2,A,...,Yes,NaN,Yes,NaN,1,4.89 m²,24 m²,NaN,NaN,1

### CHECK COLUMNS BEFORE PROCEEDING

In [31]:
df = pd.concat([df, df['new_info'].apply(pd.Series)], axis=1)

In [32]:
df = df.drop(columns = ['unit_info'])

In [33]:
final_result = df.drop(columns = ['new_info'])

In [34]:
final_result.head()

,property,price_range,location,property_link,agency,unit,unit_price,unit_type,chambres/pièces,superficie,bains/douches,étage,bain/douche,chambre/pièce
0,"Maison individuelle 285 m², Strassen, Strassen","€ 3,390,000",Strassen,https://www.immotop.lu/annonces/482585/,Barnes Luxembourg,"Maison individuelle 285 m², Strassen, Strassen","€ 3,390,000",Maison individuelle,4,285\n m²,NaN,NaN,NaN,NaN
1,"Appartement 4 chambres 10a Draikantonstrooss, ...","€ 1,177,113",Dalheim,https://www.immotop.lu/annonces/486923/,IMMODUN SARL,"Appartement 4 chambres 10a Draikantonstrooss, ...","€ 1,177,113",Appartement,4,137\n m²,2,1,NaN,NaN
2,"Appartement 4 chambres premier étage, Dudelang...","€ 1,190,000",Dudelange,https://www.immotop.lu/annonces/514401/,ImmoNovation,"Appartement 4 chambres premier étage, Dudelang...","€ 1,190,000",Appartement,4,170\n m²,3,1,NaN,NaN
3,"Maison individuelle 100 m², Troine, Troine-Rou...","€ 595,083",Wincrange,https://www.immotop.lu/annonces/457517/,TRADI LUX,"Maison individuelle 100 m², Troine, Troine-Rou...","€ 595,083",Maison individuelle,3,100\n m²,NaN,NaN,1,NaN
4,"Appartement 2 chambres route D'Eppeldorf, Beau...","€ 689,828",Beaufort,https://www.immotop.lu/annonces/474291/,Ultimo Immo,"Appartement 2 chambres route D'Eppeldorf, Beau...","€ 689,828",Appartement,2,99\n m²,NaN,T,1,NaN

In [39]:
df["chambres/pièces_fixed"] = df['chambres/pièces'].add(df['chambre/pièce'], fill_value = "")

In [40]:
df["bains/douches_fixed"] = df['bains/douches'].add(df['bain/douche'], fill_value = "")

In [41]:
# df["salles de bain_fixed"] = df['salles de bain'].add(df['salle de bain'], fill_value = "")

In [42]:
df.head()

,property,price_range,location,property_link,agency,unit,unit_price,unit_type,new_info,chambres/pièces,superficie,bains/douches,étage,bain/douche,chambre/pièce,bains/douches_fixed,chambres/pièces_fixed
0,"Maison individuelle 285 m², Strassen, Strassen","€ 3,390,000",Strassen,https://www.immotop.lu/annonces/482585/,Barnes Luxembourg,"Maison individuelle 285 m², Strassen, Strassen","€ 3,390,000",Maison individuelle,"{'chambres/pièces': '4', 'superficie': '285 m²'}",4,285\n m²,NaN,NaN,NaN,NaN,NaN,4
1,"Appartement 4 chambres 10a Draikantonstrooss, ...","€ 1,177,113",Dalheim,https://www.immotop.lu/annonces/486923/,IMMODUN SARL,"Appartement 4 chambres 10a Draikantonstrooss, ...","€ 1,177,113",Appartement,"{'chambres/pièces': '4', 'superficie': '137 m...",4,137\n m²,2,1,NaN,NaN,2,4
2,"Appartement 4 chambres premier étage, Dudelang...","€ 1,190,000",Dudelange,https://www.immotop.lu/annonces/514401/,ImmoNovation,"Appartement 4 chambres premier étage, Dudelang...","€ 1,190,000",Appartement,"{'chambres/pièces': '4', 'superficie': '170 m...",4,170\n m²,3,1,NaN,NaN,3,4
3,"Maison individuelle 100 m², Troine, Troine-Rou...","€ 595,083",Wincrange,https://www.immotop.lu/annonces/457517/,TRADI LUX,"Maison individuelle 100 m², Troine, Troine-Rou...","€ 595,083",Maison individuelle,"{'chambres/pièces': '3', 'superficie': '100 m...",3,100\n m²,NaN,NaN,1,NaN,1,3
4,"Appartement 2 chambres route D'Eppeldorf, Beau...","€ 689,828",Beaufort,https://www.immotop.lu/annonces/474291/,Ultimo Immo,"Appartement 2 chambres route D'Eppeldorf, Beau...","€ 689,828",Appartement,"{'chambres/pièces': '2', 'superficie': '99 m²...",2,99\n m²,NaN,T,1,NaN,1,2

In [43]:
result = pd.DataFrame(
            {"Property": df['property'], 
             "Price_Range": df['price_range'],
             "Location": df['location'],
             "Link": df['property_link'],          
             "Agency": df['agency'],
             "Unit": df['unit'],
             "Unit_Price_euro": df['unit_price'],
             "Unit_Type" : df['unit_type'],
             "Rooms":df['chambres/pièces_fixed'],
             "Area_sqm":df['superficie'],
             "Bathrooms":df['bains/douches_fixed'],
             "Stage":df['étage']})

In [44]:
result

,Property,Price_Range,Location,Link,Agency,Unit,Unit_Price_euro,Unit_Type,Rooms,Area_sqm,Bathrooms,Stage
0,"Maison individuelle 285 m², Strassen, Strassen","€ 3,390,000",Strassen,https://www.immotop.lu/annonces/482585/,Barnes Luxembourg,"Maison individuelle 285 m², Strassen, Strassen","€ 3,390,000",Maison individuelle,4,285\n m²,NaN,NaN
1,"Appartement 4 chambres 10a Draikantonstrooss, ...","€ 1,177,113",Dalheim,https://www.immotop.lu/annonces/486923/,IMMODUN SARL,"Appartement 4 chambres 10a Draikantonstrooss, ...","€ 1,177,113",Appartement,4,137\n m²,2,1
2,"Appartement 4 chambres premier étage, Dudelang...","€ 1,190,000",Dudelange,https://www.immotop.lu/annonces/514401/,ImmoNovation,"Appartement 4 chambres premier étage, Dudelang...","€ 1,190,000",Appartement,4,170\n m²,3,1
3,"Maison individuelle 100 m², Troine, Troine-Rou...","€ 595,083",Wincrange,https://www.immotop.lu/annonces/457517/,TRADI LUX,"Maison individuelle 100 m², Troine, Troine-Rou...","€ 595,083",Maison individuelle,3,100\n m²,1,NaN
4,"Appartement 2 chambres route D'Eppeldorf, Beau...","€ 689,828",Beaufort,https://www.immotop.lu/annonces/474291/,Ultimo Immo,"Appartement 2 chambres route D'Eppeldorf, Beau...","€ 689,828",Appartement,2,99\n m²,1,T
...,...,...,...,...,...,...,...,...,...,...,...,...
2896,"Appartement 2 chambres neuf, quatrième étage, ...","€ 1,070,000",Differdange,https://www.immotop.lu/annonces/195977/,CREATIV'IMMO SA,"Appartement 2 chambres neuf, quatrième étage, ...","€ 1,070,000",Appartement,2,133\n m²,NaN,4
2897,"Maison individuelle Vente, Leudelange, Leudelange","€ 2,050,000",Leudelange,https://www.immotop.lu/annonces/489863/,iCasa sàrl,"Maison individuelle Vente, Leudelange, Leudelange","€ 2,050,000",Maison individuelle,NaN,NaN,NaN,NaN
2898,"Appartement 2 chambres troisième étage, Pétang...","€ 730,000",Pétange,https://www.immotop.lu/annonces/328785/,IMMO B2,"Appartement 2 chambres troisième étage, Pétang...","€ 730,000",Appartement,2,NaN,2,3
2899,"Maison individuelle 225 m², excellent état, Ro...","€ 879,000",Pétange,https://www.immotop.lu/annonces/486753/,Immo-Maxma Sàrl,"Maison individuelle 225 m², excellent état, Ro...","€ 879,000",Maison individuelle,4,225\n m²,2,NaN
2900,"Appartement 2 chambres 13 rue de l'industrie, ...","€ 735,000",Walferdange,https://www.immotop.lu/annonces/342477/,LUXARMOR Immobilier,"Appartement 2 chambres 13 rue de l'industrie, ...","€ 735,000",Appartement,2,70\n m²,1,2

In [45]:
unit_price = []
for i in result['Unit_Price_euro']:
    if pd.isna(i) or i == "Prix sur demande":
        unit_price.append(None)
    else: 
        unit_price.append(int(str(i).replace(",","").lstrip('€ ')))

In [46]:
result['Unit_Price_euro'] = unit_price

In [47]:
result['Unit_Price_euro'] = pd.to_numeric(result['Unit_Price_euro'])

In [48]:
area = []
for i in result['Area_sqm']:
    if pd.isna(i):
        area.append(None)
    else: 
        area.append(int(str(i).replace(".","").rstrip('\n m²')))

In [49]:
result['Area_sqm'] = area

In [50]:
result['Area_sqm'] = pd.to_numeric(result['Area_sqm'])

In [51]:
rooms = []
for i in result['Rooms']:
    if pd.isna(i):
        rooms.append(None)
    else: 
        rooms.append(int(str(i).replace(".","").rstrip('+')))

In [52]:
result['Rooms'] = rooms

In [53]:
result['Rooms'] = pd.to_numeric(result['Rooms'])

In [54]:
bathroom = []
for i in result['Bathrooms']:
    if pd.isna(i):
        bathroom.append(None)
    else: 
        bathroom.append(int(str(i).replace(".","").rstrip('+')))

In [55]:
result['Bathrooms'] = bathroom

In [56]:
result['Bathrooms'] = pd.to_numeric(result['Bathrooms'])

In [57]:
stage = []
for i in result['Stage']:
    if pd.isna(i):
        stage.append(pd.to_numeric(None))
    elif i == 'T': 
        stage.append('T')
    elif i == 'R':
        stage.append('R')
    else: 
        stage.append(int(i))

In [58]:
result['Stage'] = stage

In [59]:
result

,Property,Price_Range,Location,Link,Agency,Unit,Unit_Price_euro,Unit_Type,Rooms,Area_sqm,Bathrooms,Stage
0,"Maison individuelle 285 m², Strassen, Strassen","€ 3,390,000",Strassen,https://www.immotop.lu/annonces/482585/,Barnes Luxembourg,"Maison individuelle 285 m², Strassen, Strassen",3390000.0,Maison individuelle,4.0,285.0,NaN,NaN
1,"Appartement 4 chambres 10a Draikantonstrooss, ...","€ 1,177,113",Dalheim,https://www.immotop.lu/annonces/486923/,IMMODUN SARL,"Appartement 4 chambres 10a Draikantonstrooss, ...",1177113.0,Appartement,4.0,137.0,2.0,1
2,"Appartement 4 chambres premier étage, Dudelang...","€ 1,190,000",Dudelange,https://www.immotop.lu/annonces/514401/,ImmoNovation,"Appartement 4 chambres premier étage, Dudelang...",1190000.0,Appartement,4.0,170.0,3.0,1
3,"Maison individuelle 100 m², Troine, Troine-Rou...","€ 595,083",Wincrange,https://www.immotop.lu/annonces/457517/,TRADI LUX,"Maison individuelle 100 m², Troine, Troine-Rou...",595083.0,Maison individuelle,3.0,100.0,1.0,NaN
4,"Appartement 2 chambres route D'Eppeldorf, Beau...","€ 689,828",Beaufort,https://www.immotop.lu/annonces/474291/,Ultimo Immo,"Appartement 2 chambres route D'Eppeldorf, Beau...",689828.0,Appartement,2.0,99.0,1.0,T
...,...,...,...,...,...,...,...,...,...,...,...,...
2896,"Appartement 2 chambres neuf, quatrième étage, ...","€ 1,070,000",Differdange,https://www.immotop.lu/annonces/195977/,CREATIV'IMMO SA,"Appartement 2 chambres neuf, quatrième étage, ...",1070000.0,Appartement,2.0,133.0,NaN,4
2897,"Maison individuelle Vente, Leudelange, Leudelange","€ 2,050,000",Leudelange,https://www.immotop.lu/annonces/489863/,iCasa sàrl,"Maison individuelle Vente, Leudelange, Leudelange",2050000.0,Maison individuelle,NaN,NaN,NaN,NaN
2898,"Appartement 2 chambres troisième étage, Pétang...","€ 730,000",Pétange,https://www.immotop.lu/annonces/328785/,IMMO B2,"Appartement 2 chambres troisième étage, Pétang...",730000.0,Appartement,2.0,NaN,2.0,3
2899,"Maison individuelle 225 m², excellent état, Ro...","€ 879,000",Pétange,https://www.immotop.lu/annonces/486753/,Immo-Maxma Sàrl,"Maison individuelle 225 m², excellent état, Ro...",879000.0,Maison individuelle,4.0,225.0,2.0,NaN
2900,"Appartement 2 chambres 13 rue de l'industrie, ...","€ 735,000",Walferdange,https://www.immotop.lu/annonces/342477/,LUXARMOR Immobilier,"Appartement 2 chambres 13 rue de l'industrie, ...",735000.0,Appartement,2.0,70.0,1.0,2

### Change File Name Before Running

In [60]:
result.to_csv(sales_file_name_csv, encoding = 'utf-8-sig')

In [61]:
result.to_excel(sales_file_name_xlsx, encoding = 'utf-8-sig')

### Rentals Data Formatting

### Change File Name Before Running

In [62]:
import os

In [63]:
os.getcwd()
os.chdir('/Users/tylerryoo/PycharmProjects/luxembourg_crawling_hass')

In [64]:
df = pd.read_csv(rentals_file_name)

In [65]:
df = df.drop(columns = ["Unnamed: 0"])

In [66]:
res = df['unit_info']

In [67]:
new_info = []
for i in df['unit_info']:
    if i == "{}":
        new_info.append({})
    else:
        new_info.append(ast.literal_eval(i))

In [68]:
df['new_info'] = new_info

In [69]:
df['new_info'].apply(pd.Series)

    chambres/pièces superficie bain/douche étage bains/douches chambre/pièce
0                 2    71\n m²           1     1           NaN           NaN
1                 5   198\n m²         NaN   NaN             2           NaN
2                 2    82\n m²           1     4           NaN           NaN
3                 2    75\n m²           1     3           NaN           NaN
4                 3   118\n m²           1     3           NaN           NaN
..              ...        ...         ...   ...           ...           ...
985             NaN    55\n m²           1     1           NaN             1
986             NaN    60\n m²         NaN     T           NaN           NaN
987             NaN    71\n m²         NaN     3           NaN             1
988             NaN        NaN         NaN     T           NaN           NaN
989             NaN    70\n m²         NaN     T           NaN           NaN

[990 rows x 6 columns]

In [70]:
df = pd.concat([df, df['new_info'].apply(pd.Series)], axis=1)

In [71]:
df = df.drop(columns = ['unit_info'])

In [72]:
final_result = df.drop(columns = ['new_info'])

In [73]:
final_result.head()

,property,price_range,location,property_link,agency,unit,unit_price,unit_type,chambres/pièces,superficie,bain/douche,étage,bains/douches,chambre/pièce
0,"Appartement 2 chambres neuf, premier étage, Sc...","€ 1,700/mois",Schifflange,https://www.immotop.lu/annonces/287101/,Agence Immobilière MARAMAX s.à r.l.,"Appartement 2 chambres neuf, premier étage, Sc...","€ 1,700/mois",Appartement,2,71\n m²,1,1,NaN,NaN
1,"Maison individuelle 198 m², Schouweiler, Dippach","€ 3,300/mois",Dippach,https://www.immotop.lu/annonces/257617/,Agence Immobilière MARAMAX s.à r.l.,"Maison individuelle 198 m², Schouweiler, Dippach","€ 3,300/mois",Maison individuelle,5,198\n m²,NaN,NaN,2,NaN
2,"Appartement 2 chambres quatrième étage, Differ...","€ 1,700/mois",Differdange,https://www.immotop.lu/annonces/523217/,Agence Immobilière MARAMAX s.à r.l.,"Appartement 2 chambres quatrième étage, Differ...","€ 1,700/mois",Appartement,2,82\n m²,1,4,NaN,NaN
3,"Appartement 2 chambres troisième étage, Pétang...","€ 1,500/mois",Pétange,https://www.immotop.lu/annonces/516993/,Agence Immobilière MARAMAX s.à r.l.,"Appartement 2 chambres troisième étage, Pétang...","€ 1,500/mois",Appartement,2,75\n m²,1,3,NaN,NaN
4,"Appartement 3 chambres troisième étage, Wasser...","€ 2,200/mois",Mertert,https://www.immotop.lu/annonces/469719/,IMMOBILIÈRE BIEWER & SPAUTZ S.À R.L.,"Appartement 3 chambres troisième étage, Wasser...","€ 2,200/mois",Appartement,3,118\n m²,1,3,NaN,NaN

In [75]:
df["chambres/pièces_fixed"] = df['chambres/pièces'].add(df['chambre/pièce'], fill_value = "")

In [78]:
df["bains/douches_fixed"] = df['bains/douches'].add(df['bain/douche'], fill_value = "")

In [79]:
# df["salles de bain_fixed"] = df['salles de bain'].add(df['salle de bain'], fill_value = "")

In [80]:
df.head()

,property,price_range,location,property_link,agency,unit,unit_price,unit_type,new_info,chambres/pièces,superficie,bain/douche,étage,bains/douches,chambre/pièce,chambres/pièces_fixed,bains/douches_fixed
0,"Appartement 2 chambres neuf, premier étage, Sc...","€ 1,700/mois",Schifflange,https://www.immotop.lu/annonces/287101/,Agence Immobilière MARAMAX s.à r.l.,"Appartement 2 chambres neuf, premier étage, Sc...","€ 1,700/mois",Appartement,"{'chambres/pièces': '2', 'superficie': '71 m²...",2,71\n m²,1,1,NaN,NaN,2,1
1,"Maison individuelle 198 m², Schouweiler, Dippach","€ 3,300/mois",Dippach,https://www.immotop.lu/annonces/257617/,Agence Immobilière MARAMAX s.à r.l.,"Maison individuelle 198 m², Schouweiler, Dippach","€ 3,300/mois",Maison individuelle,"{'chambres/pièces': '5', 'superficie': '198 m...",5,198\n m²,NaN,NaN,2,NaN,5,2
2,"Appartement 2 chambres quatrième étage, Differ...","€ 1,700/mois",Differdange,https://www.immotop.lu/annonces/523217/,Agence Immobilière MARAMAX s.à r.l.,"Appartement 2 chambres quatrième étage, Differ...","€ 1,700/mois",Appartement,"{'chambres/pièces': '2', 'superficie': '82 m²...",2,82\n m²,1,4,NaN,NaN,2,1
3,"Appartement 2 chambres troisième étage, Pétang...","€ 1,500/mois",Pétange,https://www.immotop.lu/annonces/516993/,Agence Immobilière MARAMAX s.à r.l.,"Appartement 2 chambres troisième étage, Pétang...","€ 1,500/mois",Appartement,"{'chambres/pièces': '2', 'superficie': '75 m²...",2,75\n m²,1,3,NaN,NaN,2,1
4,"Appartement 3 chambres troisième étage, Wasser...","€ 2,200/mois",Mertert,https://www.immotop.lu/annonces/469719/,IMMOBILIÈRE BIEWER & SPAUTZ S.À R.L.,"Appartement 3 chambres troisième étage, Wasser...","€ 2,200/mois",Appartement,"{'chambres/pièces': '3', 'superficie': '118 m...",3,118\n m²,1,3,NaN,NaN,3,1

In [81]:
result = pd.DataFrame(
            {"Property": df['property'], 
             "Price_Range": df['price_range'],
             "Location": df['location'],
             "Link": df['property_link'],          
             "Agency": df['agency'],
             "Unit": df['unit'],
             "Unit_Price_euro": df['unit_price'],
             "Unit_Type" : df['unit_type'],
             "Rooms":df['chambres/pièces_fixed'],
             "Area_sqm":df['superficie'],
             "Bathrooms":df['bains/douches_fixed'],
             "Stage":df['étage']})

In [82]:
result

,Property,Price_Range,Location,Link,Agency,Unit,Unit_Price_euro,Unit_Type,Rooms,Area_sqm,Bathrooms,Stage
0,"Appartement 2 chambres neuf, premier étage, Sc...","€ 1,700/mois",Schifflange,https://www.immotop.lu/annonces/287101/,Agence Immobilière MARAMAX s.à r.l.,"Appartement 2 chambres neuf, premier étage, Sc...","€ 1,700/mois",Appartement,2,71\n m²,1,1
1,"Maison individuelle 198 m², Schouweiler, Dippach","€ 3,300/mois",Dippach,https://www.immotop.lu/annonces/257617/,Agence Immobilière MARAMAX s.à r.l.,"Maison individuelle 198 m², Schouweiler, Dippach","€ 3,300/mois",Maison individuelle,5,198\n m²,2,NaN
2,"Appartement 2 chambres quatrième étage, Differ...","€ 1,700/mois",Differdange,https://www.immotop.lu/annonces/523217/,Agence Immobilière MARAMAX s.à r.l.,"Appartement 2 chambres quatrième étage, Differ...","€ 1,700/mois",Appartement,2,82\n m²,1,4
3,"Appartement 2 chambres troisième étage, Pétang...","€ 1,500/mois",Pétange,https://www.immotop.lu/annonces/516993/,Agence Immobilière MARAMAX s.à r.l.,"Appartement 2 chambres troisième étage, Pétang...","€ 1,500/mois",Appartement,2,75\n m²,1,3
4,"Appartement 3 chambres troisième étage, Wasser...","€ 2,200/mois",Mertert,https://www.immotop.lu/annonces/469719/,IMMOBILIÈRE BIEWER & SPAUTZ S.À R.L.,"Appartement 3 chambres troisième étage, Wasser...","€ 2,200/mois",Appartement,3,118\n m²,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...
985,"Appartement 1 chambre excellent état, premier ...","€ 1,300/mois",Luxembourg,https://www.immotop.lu/annonces/54177/,CHERRY S.A.,"Appartement 1 chambre excellent état, premier ...","€ 1,300/mois",Appartement,1,55\n m²,1,1
986,"Appartement rez-de-chaussée, Wormeldange, Worm...",€ 900/mois,Wormeldange,https://www.immotop.lu/annonces/502173/,DFI Bureau Immobilier,"Appartement rez-de-chaussée, Wormeldange, Worm...",€ 900/mois,Appartement,NaN,60\n m²,NaN,T
987,"Appartement 1 chambre troisième étage, Belvaux...","€ 1,300/mois",Sanem,https://www.immotop.lu/annonces/160491/,CHERUBIM,"Appartement 1 chambre troisième étage, Belvaux...","€ 1,300/mois",Appartement,1,71\n m²,NaN,3
988,"Appartement 257 Route d'Esch, Gasperich, Luxem...","€ 1,250/mois",Luxembourg,https://www.immotop.lu/annonces/18235/,Barresi-Group Real Estate Agency,"Appartement 257 Route d'Esch, Gasperich, Luxem...","€ 1,250/mois",Appartement,NaN,NaN,NaN,T
989,"Appartement rez-de-chaussée, Belair, Luxembourg","€ 1,550/mois",Luxembourg,https://www.immotop.lu/annonces/13003/,Barresi-Group Real Estate Agency,"Appartement rez-de-chaussée, Belair, Luxembourg","€ 1,550/mois",Appartement,NaN,70\n m²,NaN,T

In [83]:
unit_price = []
for i in result['Unit_Price_euro']:
    if pd.isna(i) or i == "Prix sur demande":
        unit_price.append(None)
    else: 
        unit_price.append(int(str(i).replace(",","").lstrip('€ ').rstrip('/mois')))

In [84]:
result['Unit_Price_euro'] = unit_price

In [85]:
result['Unit_Price_euro'] = pd.to_numeric(result['Unit_Price_euro'])

In [86]:
area = []
for i in result['Area_sqm']:
    if pd.isna(i):
        area.append(None)
    else: 
        area.append(int(str(i).replace(".","").rstrip('\n m²')))

In [87]:
result['Area_sqm'] = area

In [88]:
result['Area_sqm'] = pd.to_numeric(result['Area_sqm'])

In [89]:
rooms = []
for i in result['Rooms']:
    if pd.isna(i):
        rooms.append(None)
    else: 
        rooms.append(int(str(i).replace(".","").rstrip('+')))

In [90]:
result['Rooms'] = rooms

In [91]:
result['Rooms'] = pd.to_numeric(result['Rooms'])

In [92]:
bathroom = []
for i in result['Bathrooms']:
    if pd.isna(i):
        bathroom.append(None)
    else: 
        bathroom.append(int(str(i).replace(".","").rstrip('+')))

In [93]:
result['Bathrooms'] = bathroom

In [94]:
result['Bathrooms'] = pd.to_numeric(result['Bathrooms'])

In [95]:
stage = []
for i in result['Stage']:
    if pd.isna(i):
        stage.append(pd.to_numeric(None))
    elif i == 'T': 
        stage.append('T')
    else: 
        stage.append(int(i))

In [96]:
result['Stage'] = stage

In [97]:
result

,Property,Price_Range,Location,Link,Agency,Unit,Unit_Price_euro,Unit_Type,Rooms,Area_sqm,Bathrooms,Stage
0,"Appartement 2 chambres neuf, premier étage, Sc...","€ 1,700/mois",Schifflange,https://www.immotop.lu/annonces/287101/,Agence Immobilière MARAMAX s.à r.l.,"Appartement 2 chambres neuf, premier étage, Sc...",1700.0,Appartement,2.0,71.0,1.0,1
1,"Maison individuelle 198 m², Schouweiler, Dippach","€ 3,300/mois",Dippach,https://www.immotop.lu/annonces/257617/,Agence Immobilière MARAMAX s.à r.l.,"Maison individuelle 198 m², Schouweiler, Dippach",3300.0,Maison individuelle,5.0,198.0,2.0,NaN
2,"Appartement 2 chambres quatrième étage, Differ...","€ 1,700/mois",Differdange,https://www.immotop.lu/annonces/523217/,Agence Immobilière MARAMAX s.à r.l.,"Appartement 2 chambres quatrième étage, Differ...",1700.0,Appartement,2.0,82.0,1.0,4
3,"Appartement 2 chambres troisième étage, Pétang...","€ 1,500/mois",Pétange,https://www.immotop.lu/annonces/516993/,Agence Immobilière MARAMAX s.à r.l.,"Appartement 2 chambres troisième étage, Pétang...",1500.0,Appartement,2.0,75.0,1.0,3
4,"Appartement 3 chambres troisième étage, Wasser...","€ 2,200/mois",Mertert,https://www.immotop.lu/annonces/469719/,IMMOBILIÈRE BIEWER & SPAUTZ S.À R.L.,"Appartement 3 chambres troisième étage, Wasser...",2200.0,Appartement,3.0,118.0,1.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...
985,"Appartement 1 chambre excellent état, premier ...","€ 1,300/mois",Luxembourg,https://www.immotop.lu/annonces/54177/,CHERRY S.A.,"Appartement 1 chambre excellent état, premier ...",1300.0,Appartement,1.0,55.0,1.0,1
986,"Appartement rez-de-chaussée, Wormeldange, Worm...",€ 900/mois,Wormeldange,https://www.immotop.lu/annonces/502173/,DFI Bureau Immobilier,"Appartement rez-de-chaussée, Wormeldange, Worm...",900.0,Appartement,NaN,60.0,NaN,T
987,"Appartement 1 chambre troisième étage, Belvaux...","€ 1,300/mois",Sanem,https://www.immotop.lu/annonces/160491/,CHERUBIM,"Appartement 1 chambre troisième étage, Belvaux...",1300.0,Appartement,1.0,71.0,NaN,3
988,"Appartement 257 Route d'Esch, Gasperich, Luxem...","€ 1,250/mois",Luxembourg,https://www.immotop.lu/annonces/18235/,Barresi-Group Real Estate Agency,"Appartement 257 Route d'Esch, Gasperich, Luxem...",1250.0,Appartement,NaN,NaN,NaN,T
989,"Appartement rez-de-chaussée, Belair, Luxembourg","€ 1,550/mois",Luxembourg,https://www.immotop.lu/annonces/13003/,Barresi-Group Real Estate Agency,"Appartement rez-de-chaussée, Belair, Luxembourg",1550.0,Appartement,NaN,70.0,NaN,T

### Change File Name Before Running

In [98]:
result.to_csv(rentals_file_name_csv, encoding = 'utf-8-sig')

In [99]:
result.to_excel(rentals_file_name_xlsx, encoding = 'utf-8-sig')

In [95]:
import os

os.getcwd()

os.chdir("/Users/tylerryoo/PycharmProjects/luxembourg_crawling_hass/10_01_2022")

In [96]:
df = pd.read_csv("rentals_unit_10_01_2022_final.csv")

In [17]:
filtered = df.groupby(['Rooms','Bathrooms']).mean()

pd.DataFrame(filtered['Unit_Price (euro)'])

                 Unit_Price (euro)
Rooms Bathrooms
1.0   1.0              1670.229412
      2.0              1640.000000
2.0   1.0              2150.219512
      2.0              2924.594595
      3.0              2900.000000
3.0   1.0              2689.154930
      2.0              3236.943396
      3.0              4536.666667
4.0   1.0              2920.000000
      2.0              3541.176471
      3.0              6221.428571
5.0   1.0              4323.076923
      2.0              3812.500000
      3.0              4200.000000

In [ ]:
# Is it more cost effective to rent or buy (given interest rates, credibility )

# - by region or by property --> comparing properties might be not as effective | compare square meter instead 

# - new vs. old properties: older ones some of them might have rental options 

# number of days of listing, date of construction, other amenities, house vs. apartment